@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

* {
   margin: 0%;
   padding: 0%;
   font-family: 'Creepster', cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}